/***********************************/
/*       Steampunk Website         */
/* ------------------------------- */
/*   Author: David Solera Romero   */
/*   Version: 1.0                  */
/*   Date: 26 / 10 / 2023          */
/***********************************/

/* Fonts */

@font-face {font-family: titulos; src: url('../font/Jack\ of\ Gears\ Regular.ttf');}

@font-face {font-family: textos; src: url('../font/Fha1.ttf');}

/* General layout */

* {box-sizing: border-box;}

body{margin:0;padding:0; /* quitamos por defectos */
    font-family: textos; /* familia de texto */
    font-size: 1.8rem;
    background-color: black;
    color: #ffe2ab;
    background-image: url('../img/patronengranajes.jpg');}

h1,h2,h3{font-family: titulos;}

h2 {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    color: #E4BC69;}

#wrapper {width: 76%; margin:auto; background-color: #02080c;}

img {box-shadow: 0px 0px 17.5px 0.75px #f5b349;}

img:hover {box-shadow: 0px 0px 45px 1px rgb(245, 170, 50); transition: 1.1s;}

html {scroll-behavior: smooth;}

button {font-family: textos;}

/* Header / Nav */

nav {
    background-color: #02080c;
    position: sticky;
    top:0;
    z-index: 999;
    overflow: hidden;}

nav a {
    color: #ffe2ab;
    text-decoration: none;
    padding-right: 2px;
    float: left;
    display: block;
    text-align: left;
    padding: 0px 16px;
    font-weight: bold;
    padding-bottom: 16px;}
nav #sw {
    padding-right: 22.5px;
    border-right: 2px solid #ffe2ab;
    padding-left: 15px;
    font-size: 2.25rem;
    padding-top: 24px;
    font-family: titulos;
    transition: all .5s ease;
    transform-style: preserve-3d;}
nav #sw:after {
    content: "TAKE ME HOME";
    position: absolute;
    text-align: center;
    top: -100%;
    left: 0px;
    width: 100%;
    transform-origin: left bottom;
    transform: rotateX(90deg);
    padding-bottom: 16px;}
nav #sw:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);}
nav a:hover {transition: 0.75s; color: #e7a731;}
nav .sw {
    padding-top: 29.5px;
    font-size: 1.75rem;
    margin-right: 12px;
    float: right;}
.miNav .icon {
    display: none;
    padding:0px;
    margin-top: 19px;
    padding-right: 22px;}

/* Navigation bar --> Media Queries */

@media screen and (max-width: 900px) {
    .miNav a:not(:first-child) {display: none;}
    .miNav a.icon {
    font-size: 41px;
    float: right;
    display: block;}
    nav .sw {
        padding-left: 15px;
        margin-left: 0px;}
    nav #sw {
        border: none;
        font-size: 2.10rem;}
    nav #sw:after {
        text-align: left;
        padding-left: 15px;}
    nav #last {padding-bottom: 22.5px;}}
@media screen and (max-width: 900px) {
    .miNav.responsive {position: relative;}
    .miNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;}
    .miNav.responsive a {
    float: none;
    display: block;
}}

/* Sections */
/* Hero Section */
#hero {
    background: fixed no-repeat;
    background-image: url(../img/img7.jpg);
    height: 92vh;
    background-repeat: no-repeat;
    background-position: 51.80%;
    background-size: cover;
    position: relative;}
#hero h1 {
    color: #fddb9a;
    margin: 0;
    top: 20%;
    left: 51%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    font-size: 4.2rem;}
#hero button {
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    top: 81.5vh;
    left: 51%;
    font-size: 1.8rem;
    padding: 12.5px 27.5px;
    color: #ffe2ab;
    background: radial-gradient(circle, rgba(114,52,3,1) 0%, rgba(79,35,1,1) 100%);
    border-radius: 15px;
    border: 3.85px solid;}

/* Button hover  */

.voltage-button button:hover {cursor: pointer;}

#hero button:hover {
    border-color: #99793e;
    color: #e7a731;
    transition: 2s;}

.voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {opacity: 1;}

.voltage-button svg {
    display: block;
    position: absolute;
    left: 46.4%;
    top: 77.5vh;
    width: 176.75px;
    height: 75px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
    transition-delay: 0.05s;}

.voltage-button svg path {stroke-dasharray: 100; filter: url("#glow");}

.voltage-button svg path.line-1 {
    stroke: #fae2aa;
    stroke-dashoffset: 0;
    animation: spark-1 3s linear infinite;}

.voltage-button svg path.line-2 {
    stroke: rgb(211, 152, 24);
    stroke-dashoffset: 500;
    animation: spark-2 3s linear infinite;}

.voltage-button .dots {
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.4s;}

.voltage-button .dots .dot {
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0;}

.voltage-button .dots .dot-1 {
    top: 0;
    left: 20%;
    animation: fly-up 3s linear infinite;}

.voltage-button .dots .dot-2 {
    top: 0;
    left: 55%;
    animation: fly-up 3s linear infinite;
    animation-delay: 0.5s;}

.voltage-button .dots .dot-3 {
    top: 0;
    left: 80%;
    animation: fly-up 3s linear infinite;
    animation-delay: 1s;}

.voltage-button .dots .dot-4 {
    bottom: 0;
    left: 30%;
    animation: fly-down 3s linear infinite;
    animation-delay: 2.5s;}

.voltage-button .dots .dot-5 {
    bottom: 0;
    left: 65%;
    animation: fly-down 3s linear infinite;
    animation-delay: 1.5s;}

@keyframes spark-1 {
    to {stroke-dashoffset: -1000;}}

@keyframes spark-2 {
    to {stroke-dashoffset: -500;}}

@keyframes fly-up {
    0% {opacity: 0; transform: translateY(0) scale(0.2);}
    5% {opacity: 1; transform: translateY(-1.5rem) scale(0.4);}
    10%, 100% {opacity: 0; transform: translateY(-3rem) scale(0.2);}}

@keyframes fly-down {
    0% {opacity: 0; transform: translateY(0) scale(0.2);}
    5% {opacity: 1; transform: translateY(1.5rem) scale(0.4);}
    10%, 100% {opacity: 0; transform: translateY(3rem) scale(0.2);}}

/* Common things - Concept and Technology */

#concept .container, #technology .container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;}

/* Concept */
#concept .container {
    margin-top: 75px;
    padding-bottom: 70px;
    padding-top: 50px;}
#concept #imagenconcept img{
    width: 100%;
    margin-top: 14%;
    box-shadow: 2px;
    border-radius: 10px 50px 10px 50px ;}
#concept .texto {margin-top: 7%; padding-left: 50px;}

/* Transitory image */
#imagentransitoria {
    background: fixed no-repeat;
    background-image: url(../img/img10.png);
    background-size: cover;
    height: 55vh;
    box-shadow: 0px 0px 11px 0.75px #f5b349;
    background-position: 48.5%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4.955%;}

#imagentransitoria:hover {
    box-shadow: 0px 0px 40px 0.95px rgb(245, 170, 50);
    transition: 1.1s;}

#imagentransitoria img {
    width: 90%;
    display: none;
    margin: 0;
    padding: 0;}

/* Technology */
#technology .container {padding-bottom: 75px; padding-top: 70px;}

#technology img {width:  100%; border-radius: 50px 10px 50px 10px;}

#technology .texto {padding-right: 50px;}

/* Footer */


/* Media Queries y Media Queries del Hero Button (Era necesario realizarlo así para no crear aún más Medias Queries) 
/* Media Queries específicas de Hero Button Hover */
@media only screen and (width < 1875px) {.voltage-button svg {left: 46.2%; top: 77.25vh;}}
@media only screen and (width < 1835px) {.voltage-button svg {left: 46%; top: 77.25vh;}}
@media only screen and (width < 1750px) {.voltage-button svg {left: 45.67%; top: 77.25vh;}}
@media only screen and (width < 1675px) {.voltage-button svg {left: 45.47%; top: 77.25vh;}}
/* Media Queries */
@media only screen and (width < 1625px) { 
    #hero button {top: 77vh;}
    .voltage-button svg {left: 45.3%; top: 72.7vh;}}
/* Media Queries */
@media only screen and (width < 1533px) { 
    #concept #imagenconcept img{margin-top: 22.5%;}
    #technology img {margin-top: 13%;}
    #concept .texto {margin-top: 1%;}
    .voltage-button svg {left: 44.975%;}}
/* Media Queries específicas de Hero Button Hover */
@media only screen and (width < 1390px) {.voltage-button svg {left: 44.69%;}}
@media only screen and (width < 1350px) {.voltage-button svg {left: 44.2%;}}
/* Media Queries */
@media only screen and (width < 1260px) { 
    #concept #imagenconcept img{margin-top: 36.5%;}
    .voltage-button svg {left: 43.74%;}
    #technology img {margin-top: 25%;}
    #concept .texto {margin-top: 0%;}}
/* Media Queries específicas de Hero Button Hover */
@media only screen and (width <= 1200px) { .voltage-button svg {left: 43.3%;}}
@media only screen and (width <= 1155px) { .voltage-button svg {left: 43.09%;}}
@media only screen and (width <= 1105px) { .voltage-button svg {left: 42.65%;}}
/* Media Queries */
@media only screen and (width <= 1050px) {
    .voltage-button svg {left: 42.3%;} 
    #technology .container { 
        grid-template-columns: 100%;
        padding-bottom: 15px;}
    #concept .container {
    grid-template-columns: 100%;
        padding-bottom: 15px;}
    #concept #imagenconcept img{margin-top: 0%;}
    #technology img {margin-top: 0%;}
    #concept .texto {
        padding-left: 0px;
        padding-top: 2.75%;}
    #technology .texto {padding-right: 0px;}
    #imagentransitoria img {
        width: 85%;
        display:block;
        margin-bottom: 0;
        padding-bottom: 0;}
    #imagentransitoria {
        background-image: none;
        box-shadow: none;
        margin-top: 5px;}
    #imagentransitoria:hover {box-shadow: inherit;}}
/* Media Queries específicas de Hero Button Hover */
@media only screen and (width <= 975px) { .voltage-button svg {left: 41.575%;}}
@media only screen and (width <= 935px) { .voltage-button svg {left: 41.25%;}}
/* Media Queries */
@media only screen and (width <= 900px) {
    .voltage-button svg {left: 40.8%;}
    #hero {
        height: 90.4vh;
        background: initial;
        background-position: 51.80%;
        background-size: cover;
        background-image: url(../img/img7.jpg);}}
/* Media Queries específicas de Hero Button Hover */
@media only screen and (width <= 865px) {.voltage-button svg {left: 40.4%;}}
@media only screen and (width <= 835px) {.voltage-button svg {left: 39.9%;}}
@media only screen and (width <= 800px) {.voltage-button svg {left: 39.45%;}}
/* Media Queries */
@media only screen and (width <= 750px) {
    .voltage-button svg {
        left: 39%;
        width: 175px;} 
    #wrapper {width: 95%;}
    #hero h1 {font-size: 3.9rem;}
    #hero button {font-size: 1.65rem;}
    #technology .container {padding-top: 0px;}
    #concept .container {padding-bottom: 0px;}
    #imagentransitoria {
        margin-top: 0;
        margin-bottom: 0;}
    #imagentransitoria img {width: 80%;}}
/* Media Queries específicas de Hero Button Hover */
@media only screen and (width <= 695px) {.voltage-button svg {width: 169px; left: 38.29%;}}
@media only screen and (width <= 652.5px) {.voltage-button svg {width: 169px; left: 37.2%;} }
@media only screen and (width <= 600px) {.voltage-button svg {left: 36.3%;} }
@media only screen and (width <= 550px) {.voltage-button svg {left: 35.35%;} }
@media only screen and (width <= 515px) {.voltage-button svg {left: 33.84%;} }
@media only screen and (width <= 470px) {.voltage-button svg {left: 32.37%;} }
@media only screen and (width < 427.5px) {.voltage-button svg {left: 30.325%;} }